	
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>RCumber - Rails Cucumber Interface</title>

	<!-- Base YUI JavaScript -->
	<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/element/element-beta-min.js"></script>

	<!-- TabView -->
	<!-- Sam Skin CSS for TabView -->
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/tabview/assets/skins/sam/tabview.css">
	<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/tabview/tabview-min.js"></script>

	<%= render :partial => 'rcumbers/stylesheet' %>
	
</head>
<body class="yui-skin-sam"> 
<div id="doc3" class="yui-t4">
   <div id="hd">
	</div>
   <div id="bd">
	<div class="yui-g">
		<%= rcumber_flashes %>

	</div>

<div class="yui-g">
	<%= yield %>
	</div>
	</div>
   <div id="ft"></div>
</div>
</body>
</html>



