	
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>RCumber - Rails Cucumber Interface</title>
</head>
<body>
<div id="doc3" class="yui-t4">
   <div id="hd">RCUMBER HEADER
	</div>
   <div id="bd">
	<div class="yui-g">
	<!-- YOUR DATA GOES HERE -->
	</div>

<div class="yui-g">
	<%= yield %>
	</div>

	</div>
   <div id="ft">RCUMBER FOOTER</div>
</div>
</body>
</html>

<script type="text/javascript" charset="utf-8">
	$(function() {
		$('li.cucumber')
	});
	
</script>