	
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>RCumber - Rails Cucumber Interface</title>

	<%= render :partial => 'rcumbers/stylesheet' %>
	
</head>
<body>
<div id="doc3" class="yui-t4">
   <div id="hd">
	</div>
   <div id="bd">
	<div class="yui-g">
	<!-- YOUR DATA GOES HERE -->
	</div>

<div class="yui-g">
	<%= yield %>
	</div>

	</div>
   <div id="ft">RCumber - Rails Customer Plugin for Cucumber. &copy; 2008 John Goodsen</div>
</div>
</body>
</html>
