<div id="cucumber_index">

<h1><img src="/images/rcumber.gif"/>Rcumber</h1>
<h2>Rcumber - Rails plugin to manage Cucumber tests.</h1>
	<p>You are looking at the very first version of rcumber.  <br/>
		Please give us feedback at github so we can turn many a mickle into a muckle.
	</p>
<h3>Here's all your Cukes!</h3>
<ul id="cucumber_tests">
<% if @rcumbers.empty? %>
	<p>You don't have any Cucumber tests in the ./feature directory of your project. <br/>
		Either create some, or you can look at these <%= link_to 'demo cucumber tests', rcumbers_path + "?demos=true" %> 
	</p>
<% else %>
	<% @rcumbers.each do |rcumber| %>
	  <%= content_tag :li, 
			content_tag(
				:a, rcumber.name, 
				:href => rcumber_path(rcumber.uid) + demo_parameters
			), 
	:class => 'cucumber_test' 
	%>
	<% end %>
<% end %>
</ul>
</div>
