<div id="cucumber_index">
<h1>Rcumber</h1>
<h2>Manage and Run your Cucumber Tests with a Rails Plugin.</h1>
	<p>You are looking at the very first version of rcumber.  Please give us feedback at github so we can turn many a mickle into a muckle.</p>
<h3>Here's all your Cukes!</h3>
<ul id="cucumber_tests">
<% @rcumbers.each do |rcumber| %>
  <%= content_tag :li, content_tag(:a, rcumber.name, :href => rcumber_path(rcumber.uid)), :class => 'cucumber_test' %>
<% end %>
</ul>
</div>