<style type="text/css" media="screen">

body {
font-family: "lucida grande",lucida,verdana,sans-serif;
font-size: 12px;
font-size-adjust: none;
font-style: normal;
font-variant: normal;
font-weight: normal;
}

	div#cucumber_tests_header {
		background: #999;
		width: 200px;
	}
	ul#cucumber_tests {
		border: 1px solid #999;
		width: 200px;
	}
	li.cucumber_test { list-style-image: url(/images/icons/magic_wand.gif)  }
	
</style>

<div id="cucumber_tests_header">Cucumber Tests</h2>
<ul id="cucumber_tests">
<% @rcumbers.each do |rcumber| %>
  <%= content_tag :li, content_tag(:a, rcumber.name, :href => rcumber_path(rcumber.uid)), :class => 'cucumber_test' %>
<% end %>
</ul>
